<!-- BEGIN PAGE HEADER-->
<div class="page-content-wrapper">
	<div class="page-content">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<i class="fa fa-home"></i>
					<a href="index.html">Inicio</a>
				</li>
			</ul>
		</div>
		<h3 class="page-title">
			Inicio
		</h3>
		<!-- END PAGE HEADER-->

		<!-- BEGIN BODY -->
		<div class="row">
			<div class="portlet light portlet-fit bordered">
				<div class="portlet-title">
					<h4>Bienvenidos!</h4>
				</div>
				<div class="portlet-body">
					<img src="../../assets/images/wallpaper.jpg" width="1366" height="768">
				</div>
			</div>
		</div>
	</div>
</div>