<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
      <li class="sidebar-toggler-wrapper">
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler">
        </div>
        <!-- END SIDEBAR TOGGLER BUTTON -->
      </li>
      <li class="sidebar-search-wrapper">
        <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
        <form class="sidebar-search " action="extra_search.html" method="POST">

        </form>
        <!-- END RESPONSIVE QUICK SEARCH FORM -->
      </li>
      <li class="start" [ngClass]="{'active open': urlActiva == '/inicio'}">
        <a routerLink="inicio" routerLinkActive="active">
          <i class="icon-home"></i>
          <span class="title">Inicio</span>
          <span class="selected"></span>
        </a>
      </li>
      <li class="start" [ngClass]="{'active open': urlActiva == '/estandares'}">
        <a routerLink="estandares" routerLinkActive="active">
          <i class="icon-book"></i>
          <span class="title">Estándares</span>
          <span class="selected"></span>
        </a>
      </li>
      <li class="start" [ngClass]="{'active open': urlActiva == '/dominios'}">
        <a routerLink="dominios" routerLinkActive="active">
          <i class="icon-briefcase"></i>
          <span class="title">Dominios</span>
          <span class="selected"></span>
        </a>
      </li>
      <li class="start" [ngClass]="{'active open': urlActiva == '/servicios'}">
        <a routerLink="servicios" routerLinkActive="active">
          <i class="icon-file-text-alt"></i>
          <span class="title">Servicios</span>
          <span class="selected"></span>
        </a>
      </li>
      <li class="start" [ngClass]="{'active open': urlActiva == '/usuarios'}">
        <a>
          <i class="icon-user"></i>
          <span class="title">Usuarios</span>
          <span class="selected"></span>
        </a>
      </li>
    </ul>
    <!-- END SIDEBAR MENU -->
  </div>
</div>
<!-- END SIDEBAR -->