<div class="br-mainpanel">
    <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
        <h4 class="tx-gray-800 mg-b-5">Welcome!</h4>
    </div>

    <div class="br-pagebody pd-x-20 pd-sm-x-30">
        <div class="row row-sm">
                <p-organizationChart [value]="data"
                styleClass="company">
                <ng-template let-node pTemplate="leaf">
                    <span style="font-weight: bolder; color: red;">{{node.label}}</span>
                </ng-template>
                <ng-template let-node pTemplate="default">
                    {{node.label}}
                </ng-template>
            </p-organizationChart>
            <!--<img src="../../assets/img/mountains_lake.jpg" alt="wallpaper" width="85%">-->
        </div>
    </div>
</div>